<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header' %> 
    <!-- app/views/layouts/_headerを探してその内容を評価して結果をviewに挿入している -->
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div,message, class: "alert alert-#{message_type}") %>
        <!-- 書き換え
        <div class="alert alert-<%= message_type %>"><%= message %></div> -->
      <% end %>
      <!-- webサイトのレイアウトごとにページごとの内容を挿入 -->
      <%= yield %> 
      <%= render 'layouts/footer' %>
      <!-- デバッグ用の情報の追加 if文でdevelop環境のみに追加-->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>


