<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header' %> 
    <!-- app/views/layouts/_headerを探してその内容を評価して結果をviewに挿入している -->
    <div class="container">
      <!-- webサイトのレイアウトごとにページごとの内容を挿入 -->
      <%= yield %> 
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>


